*
{
	box-sizing: border-box;
}

h1
{
	font-family: 'Nanum Gothic', sans-serif;
	color: black;
	text-align: center;
	font-weight: bold;
}

body
{
	background-color: white;
}

p
{
	padding: 10px;
	margin:0;
	font-weight: bold;
	font-size: 125%;
}

.header
{
	margin-left: 7.5%;
	margin-right: 7.5%;
	margin-top: 10px;
	margin-bottom: 25px;
	padding: 15px;
}

.container
{
	background: #808e9b;
	border:2px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section 
{
	width: 100%;
	height: 200px;
	font-family: 'Nanum Gothic', sans-serif;
	color: black;
	position: relative;
	overflow: aut;o
}

.options
{
	background-color: #dfe6e9;
	border: 2px solid black;
	text-align: center;
	width: 30%;
	margin-left: 85%;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
	font-size: 100%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;		
}

#chicken
{
	background-color: #ff7675;
	color: black;
	font-weight: bold;
}

#beef
{
	background-color: #d63031;
	color: white;
	font-weight: bold;
}

#sushi
{
	background-color: #fdcb6e;
	color: black;
	font-weight: bold;
}

.items 
{
	width: 100%;
	align-items: center;;
}

@media (min-width: 992px) 
{
  .col-lg-4 
  {
  	float: left;
    width: 33.33%;
  }

}


@media (min-width: 768px) and (max-width: 991px) 
{
  .col-md-6 
  {
  	float: left;
    width: 50%;
  }
}


@media (max-width: 768px) 
{
  .col-sm-12 
  {
  	float: left;
    width: 100%;
  }
}